

.sale{
    padding-left: 2rem;
    font-size:xx-small;
    color: var(--secondary-color);
    display: flex;
    background-color: var(--footer1-color);
    font-family:'Times New Roman', Times, serif;    
}

.A{
    padding-left: 12rem;
    color: var(--footer-color)
}

.B{
    color: var(--footer-color) 
}
.C{
    color: var(--footer-color)
}