.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22201c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


:root {
  --primary-color: rgb(44, 43, 43);
  --secondary-color: rgb(182, 141, 141);
  --header-color: rgb(255, 253, 253);
  --header1-color: rgb(0, 0, 0);
}

