.Banner1 { height: 70vh;
          width: 100%;
          
}

.image-div{
    margin-top: 1.5rem;
}

.blank-div{
    margin-top: 19px;
    background-color: rgb(228, 213, 224);
    height: 3vh;
}

.brands3{
    display: flex;
    height: 0.5vh;
    background-color: aliceblue;
}
.Lapbrand{
    margin-left: 4rem;
    text-align: center;
    margin-top: 0.4rem;
    color: rgb(81, 96, 109);
    font-family:Georgia, 'Times New Roman', Times, serif
}
.Categories{
    margin-top: 1vh;
    text-align: center;
    font-size: x-small;
    font-family:Arial, Helvetica, sans-serif
}

.laptopimages{
    display: flex;
}
.laptop1{
    height: 40vh;
    width: 100%;
}


.marquee{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
