.navigation{
    font-family: sans-serif;
    display: flex;
    width: 5000px;
}

.brand{
margin-top: 3px;
font-size: 12px;
}

.input{
 text-align: center;
margin-left: 7rem;


}

.btn{
    height: 5vh;
    font-size: 5px;
    margin-left: 1px;
    margin-top: 4px;
}

.icons {
    display: flex;
    margin-left: 2rem;

}

.icons1{
    padding: 4px;
}
